<nav class="main-navigation">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog">Blog posts</a>
        </li>
        <li>
            <a href="https://github.com/mfrachet"  target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/feed/"  target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </li>
    </ul>
</nav>